.navbar{
    background-color: #ffff;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e2e8f0;

}


.navbar-logo img{
    height: 40px;

}


.active{
  color:#3b5Ac2;
}


.nav-link.active {
  color:#3b5Ac2;
}
